// Written by Evan Girardin, W22 PMC President 
// Please direct all compliments and hate mail to evangirardin at gmail dot com 
doctype html
include template/head.pug
-
  function readableDate(date) {
    let day = (date.charAt(6) == '0') ? date.charAt(7) : date.substr(6,2);
    let month = '';
    switch ('' + date.substr(4,2)) {
      case '01':
        month = 'January';
        break;
      case '02':
        month = 'February';
        break;
      case '03':
        month = 'March';
        break;
      case '04':
        month = 'April';
        break;
      case '05':
        month = 'May';
        break;
      case '06':
        month = 'June';
        break;
      case '07':
        month = 'July';
        break;
      case '08':
        month = 'August';
        break;
      case '09':
        month = 'September';
        break;
      case '10':
        month = 'October';
        break;
      case '11':
        month = 'November';
        break;
      case '12':
        month = 'December';
        break;
    }
    return month + ' ' + day + ', ' + date.substr(0,4);
  }
  function readableTime(time) {
    // time given as hhmm 24hr
    let intTime = parseInt(time);
    let hr = Math.floor(time/100);
    let ampm = (hr >= 12 ? 'PM' : 'AM');
    if (hr == 0) hr = 12;
    else if (hr > 12) hr -= 12;
    
    return hr + ':' + time.substr(2,2) + ' ' + ampm;
  }
  function getTerm(date) {
    // date given as yyyymmdd
    let month = parseInt(date.substr(4,2));
    return (month < 5 ? 'w' : (month < 9 ? 's' : 'f')) + date.substr(2,2);
  }

mixin event(type, title, desc, date, begintime, endtime, loc)
  a.eventItemHoverBuffer(href='events/' + getTerm(date) + '#' + date)
    .eventItem(id=type)
      .info
        h2 #{title}
        p(style='font-size: 14pt;') #{desc}
      .dateBox
        p #{readableDate(date)}
          br
          | #{readableTime(begintime)}&ndash;#{readableTime(endtime)}
          br
          span(style='color: #ffffff; font-family: inherit;') #{loc}
body
  include template/header.pug
  .header
    .headerLogo
      img(src='/img/pmamco_simple_free_nobg.png', style='height: 15em; padding: 15px;')
      div
        h1(style='padding: 15px 15px 15px 15px; position: relative;')
          | The 
          strong {Pure Math,
          br
          strong Applied Math,
          br
          strong C&amp;O} 
          | Club
        .socials
          a(href='https://discord.gg/6m9Jw9UCVF', style='background-image: url(/img/discord.png);', target='_blank')
          a(href='https://instagram.com/uwpmclub', style='background-image: url(/img/instagram.png);', target='_blank')
          a(href='https://facebook.com/groups/uwpmc', style='background-image: url(/img/facebook.png);', target='_blank')
          a(href='https://youtube.com/user/pmamcoclub', style='background-image: url(/img/youtube.png);', target='_blank')
  .textArea
    h1 Events
    .eventContainer
      +event("over9k", "Homomorphism-Homogeneous Graphs", "Pure Math Talk by Professor Nickolas Rollick!", "20210719", "1700", "1800", "MC 2066")
      +event("sasms", "Short Attention Span Math Seminars I", "Four students talking about math, so cool!", "20220303", "1900", "2130", "MC 4021")
      +event("co", "Crypto Gossip: Elliptic Curve Cryptography and the NSA", "C&O Talk by Professor Alfred Menezes!", "20210401", "1630", "1730", "MC 2066")
    a.button#pastEvents(href='./events') Browse all events
  //-
    .textArea
      h1 Problem of the Week
      
  div(style='width: 100%; background-color: #e0e0e0;')
    .textArea(style='padding: 1em 0 1em 0;')
      div(style='width: 100%; display: flex; justify-content: start-flex; align-items: center; flex-wrap: nowrap;')
        div
          h1 Join our mailing list!
          p(style='font-family: "PT Serif";') Get notified about events and opportunities first :)
        a.button#subscribe(href='http://eepurl.com/hJPG7b', style='margin-left: 4em;', target='_blank') Subscribe
  include template/footer.pug
