- const term = 'Winter 2022';
doctype html
include ../../template/head.pug
-
  function readableDate(date) {
    // date given as yyyymmdd
    let day = (date.charAt(6) == '0') ? date.charAt(7) : date.substr(6,2);
    let month = '';
    switch ('' + date.substr(4,2)) {
      case '01':
        month = 'January';
        break;
      case '02':
        month = 'February';
        break;
      case '03':
        month = 'March';
        break;
      case '04':
        month = 'April';
        break;
      case '05':
        month = 'May';
        break;
      case '06':
        month = 'June';
        break;
      case '07':
        month = 'July';
        break;
      case '08':
        month = 'August';
        break;
      case '09':
        month = 'September';
        break;
      case '10':
        month = 'October';
        break;
      case '11':
        month = 'November';
        break;
      case '12':
        month = 'December';
        break;
    }
    return month + ' ' + day + ', ' + date.substr(0,4);
  }
  function readableTime(time) {
    // time given as hhmm (24hr)
    let intTime = parseInt(time);
    let hr = Math.floor(time/100);
    let ampm = (hr >= 12 ? 'PM' : 'AM');
    if (hr == 0) hr = 12;
    else if (hr > 12) hr -= 12;
    
    return hr + ':' + time.substr(2,2) + ' ' + ampm;
  }
mixin event(type, title, desc, date, begintime, endtime, loc)
  .longEventContainer
    .longEventItem
      a.title(href='javascript:void(0)', id=date)
        h2 #{title}
        h3 #{readableDate(date)} @ #{readableTime(begintime)}&ndash;#{readableTime(endtime)} in #{loc}
        p #{desc}
      .description
        block
body
  script.
    function getAnchor() {
      var cururl = document.URL;
      var urlcomponents = cururl.split('#');
      return (urlcomponents.length > 1) ? urlcomponents[1] : null;
    }
    var prev = null;
    document.addEventListener( 'DOMContentLoaded', function () {
      var bruh = document.getElementsByClassName('description');
      var coll = document.getElementsByClassName('title');
      for (i = 0; i < bruh.length; ++i) {
        bruh[i].style.maxHeight = 0;
      }
      var i;
      for (i = 0; i < coll.length; ++i) {
        coll[i].addEventListener('click', function() {
          this.classList.toggle('active');
          var content = this.nextElementSibling;
          if (content.style.maxHeight && content.style.maxHeight != '0px') { // Hide it
            content.style.maxHeight = '0px';
            content.style.marginBottom = '0';
            prev = null;
          } else { // Show it
            content.style.maxHeight = content.scrollHeight + 'px';
            content.style.marginBottom = '0.5em';
            if (prev) {
              prev.classList.toggle('active');
              prev.nextElementSibling.style.maxHeight = '0px';
              prev.nextElementSibling.style.marginBottom = '0';
            }
            prev = this;
          }
        });
      }
      document.getElementById(getAnchor()).click();
    });
  script(src='https://polyfill.io/v3/polyfill.min.js?features=es6')
  script#MathJax-script(async, src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML')
  include ../../template/header.pug
  .header(style='filter: hue-rotate(320deg); background-position: bottom;')
    .textArea
      h1(style='margin: 0; padding: 0.8em 0 0.8em 0; font-size: 48pt;') Events
  .textArea(style='width: 50%;')
    .eventsTermsContainer
      a.eventsTerm(href='/events/f21', title='Previous Term') Previous Term
      .eventsTerm(title=term) #{term}
      a.eventsTerm(href='/events/s22', title='Next Term') Next Term
      a.eventsTerm#archive(href='/events/archive', title='Archive') Archive
    hr
    //EVENTGOESHERE
    +event("pmath", "Homomorphism-Homogeneous Graphs", "Pure Math Talk by Professor Nickolas Rollick!", "20210719", "1700", "1800", "MC 2066")
      p Dearest mathematics enjoyers,
        br
        br
        | The Pure Math Club is proud to announce The First In-Person Event 
        | Held By Any Club And/Or Organization Ever: we're hosting a Pure Math 
        | Prof Talk with the Professor William Slofstra. The title is "Negami's 
        | Planar Cover Conjecture and Quantum Games". Here's an abstract:
      p.abstract
        span(style='font-weight: 600;') Abstract. 
        | A graph (vertices and edges, not functions) is planar if it 
        | can be drawn on a sheet of paper without the edges crossing each other. 
        | Not every graph is planar; \(K_{3,3}\) is a famous counterexample. Some 
        | nonplanar graphs, including \(K_{3,3}\), can be drawn in the plane without 
        | edges crossing by allowing multiple copies of each vertex. A 
        | representation of this form is called a planar cover. Surprisingly, 
        | every graph we know with a planar cover has a planar double cover 
        | (which means it uses exactly two copies of every vertex). Negami's 
        | planar cover conjecture, which is now 30 years old, is that this is 
        | always the case: if a graph has a planar cover, then it has a planar 
        | double cover. In this talk, I'll explain this conjecture, and then 
        | explain another open problem in group theory / quantum information 
        | inspired by this conjecture.
      p The talk will be in MC 2066 on Thursday, November 18th at 4:00pm. 
        | Very little background required. Come on by and feel smart for an hour!
  include ../../template/footer.pug
