// Written with love by Evan Girardin, W22/S22/W23/S23 PMC president 
// Please direct all hate mail to evangirardin at gmail dot com 

doctype html
head
  include ../template/head.pug
  title Pure Math Club
  meta(name='decription', content="The official website of the University of Waterloo's Pure Math, Applied Math, Combinatorics & Optimization Club, under the Mathematics Society.")
-
  function readableDate(date) {
    // date given as yyyy-mm-dd
    let day = (date.charAt(6) == '0') ? date.charAt(7) : date.slice(6,8);
    let month = '';
    switch ('' + date.slice(4,6)) {
      case '01':
        month = 'January';
        break;
      case '02':
        month = 'February';
        break;
      case '03':
        month = 'March';
        break;
      case '04':
        month = 'April';
        break;
      case '05':
        month = 'May';
        break;
      case '06':
        month = 'June';
        break;
      case '07':
        month = 'July';
        break;
      case '08':
        month = 'August';
        break;
      case '09':
        month = 'September';
        break;
      case '10':
        month = 'October';
        break;
      case '11':
        month = 'November';
        break;
      case '12':
        month = 'December';
        break;
    }
    return month + ' ' + day + ', ' + date.slice(0,4);
  }
  function readableTime(time) {
    // time given as hh:mm:ss
    const parts = time.split(':');
    time = parts[0] + parts[1];
    let intTime = parseInt(time);
    let hr = Math.floor(time/100);
    let ampm = (hr >= 12 ? 'PM' : 'AM');
    if (hr == 0) hr = 12;
    else if (hr > 12) hr -= 12;
    
    return hr + ':' + time.slice(2,4) + ' ' + ampm;
  }
  function getTerm(date) {
    // date given as yyyymmdd
    let month = parseInt(date.slice(4,6));
    return (month < 5 ? 'w' : (month < 9 ? 's' : 'f')) + date.slice(2,4);
  }
  Date.prototype.yyyymmdd = function() {
    var mm = this.getMonth() + 1; // getMonth() is zero-based
    var dd = this.getDate();
    
    return [this.getFullYear(),
            (mm>9 ? '' : '0') + mm,
            (dd>9 ? '' : '0') + dd
            ].join('');
          };
  function eventBGColor(type) {
    for (let i = 0; i < types.length; ++i) {
      //console.log(types[i].id + ' ' + type)
      if (types[i].id === type) {
        //return 'linear-gradient(' + types[i].fstcol + 'ff, ' + types[i].sndcol + 'ce)';
        return [types[i].fstcol, types[i].sndcol];
      }
    }
    //return 'linear-gradient(#000000, #000000)';
    return ['#000000', '#000000'];
  }

mixin event(id, type, title, desc, date, begintime, endtime, loc, imgpath)
  a.eventItemHoverBuffer(href='events/' + getTerm(date) + '#' + id)
    .eventItem
      p(style='font-weight: 600; color: #565965;') #{title}
      p(style='font-size: 14pt;') #{readableDate(date)} &bull; #{readableTime(begintime)} &bull; #{loc}
mixin potw(id, title, date, imgpath)
  a.potwItem(href='/potw#'+id)
    h1.number ##{id}
    h3.date #{readableDate(date)}
    h3.title #{title}
    h3.arrow >
    .potwImg(style=(imgpath === null ? '' : 'background-image: url("/static/img/potw/'+imgpath+'")'))
body
  include ../template/header.pug
  //-.header(style='background-image: url("/static/img/desktop_background_01_gradient.png");')
  div(style='padding: 0 2rem; width: 100%;')
    .headerAlt
      .headerLogo
        img(src='/static/img/pmamco_simple_free.svg', style='height: 15em; padding: 15px;')
        div
          h1(style='padding: 1rem; position: relative;')
            | The&nbsp;
            strong {Pure&nbsp;Math,
            br
            strong Applied&nbsp;Math,
            br
            strong C&amp;O}&nbsp;
            | Club
          .socials
            a(href='https://discord.gg/6m9Jw9UCVF', style='background-image: url(/static/img/discord.svg); filter: brightness(0); width: 2.5rem;', target='_blank')
            a(href='https://instagram.com/uwpmclub', style='background-image: url(/static/img/instagram.svg); width: 2rem;', target='_blank')
            //-a(href='https://facebook.com/groups/uwpmc', style='background-image: url(/static/img/facebook.png);', target='_blank')
            a(href='https://youtube.com/user/pmamcoclub', style='background-image: url(/static/img/youtube.svg); width: 2rem;', target='_blank')

  .textArea(style='width: min(80rem,100%); margin-bottom: 0;')
    h1(style='padding-top: 0.3em;') Events
    .eventContainer
      - var n = posts.length - 1;
      while n >= 0
        +event(posts[n].id, posts[n].type, posts[n].title, posts[n].descr, posts[n].date.yyyymmdd(), posts[n].begin, posts[n].end, posts[n].loc, posts[n].imgpath)
        - n--
    a.button#pastEvents(href='./events') Browse all events
  .textArea(style='width: min(80rem,100%); padding-bottom: 1.5em;')
    h1 Quick Links
    .eventContainer
      .bigbutton
        a.eventItemHoverBuffer(href='files')
          .eventItem
            img(src='/static/img/archive.png', style='top: 2rem;')
            h1 Archive
      .bigbutton
        a.eventItemHoverBuffer(href='history')
          .eventItem
            img(src='/static/img/history.png', style='top: 1.5rem;')
            h1 History
      .bigbutton
        a.eventItemHoverBuffer(href='https://bit.ly/F23PMC')
          .eventItem
            img(src='/static/img/signup.png')
            h1 Sign up
    
  if isPOTW
    .textArea(style='width: min(80rem,100%);')
      h1 Problem of the Week
      //- N.B. Order has to be REVERSED here to make it wrap correctly
      .potwContainer
        - var m = potws.length - 1;
        while m >= 0
          +potw(potws.length-m, potws[m].title, potws[m].date.yyyymmdd(), potws[m].imgpath)
          - m--;
  div(style='width: 100%; background-color: #e0e0e0;')
    .textArea(style='padding-top: 1em; padding-bottom: 1em;')
      div
        h1 Join our mailing list!
        p We send emails whenever events or opportunities are coming up. You can unsubscribe any time. No spam!
      a.button#subscribe(href='http://eepurl.com/hJPG7b', target='_blank') Subscribe
  include ../template/footer.pug
