// Written by Evan Girardin, W22 PMC President 
// Please direct all compliments and hate mail to evangirardin at gmail dot com
- const potw = true;
doctype html
include ../template/head.pug
-
  function readableDate(date) {
    // date given as yyyy-mm-dd
    let day = (date.charAt(6) == '0') ? date.charAt(7) : date.slice(6,8);
    let month = '';
    switch ('' + date.slice(4,6)) {
      case '01':
        month = 'January';
        break;
      case '02':
        month = 'February';
        break;
      case '03':
        month = 'March';
        break;
      case '04':
        month = 'April';
        break;
      case '05':
        month = 'May';
        break;
      case '06':
        month = 'June';
        break;
      case '07':
        month = 'July';
        break;
      case '08':
        month = 'August';
        break;
      case '09':
        month = 'September';
        break;
      case '10':
        month = 'October';
        break;
      case '11':
        month = 'November';
        break;
      case '12':
        month = 'December';
        break;
    }
    return month + ' ' + day + ', ' + date.slice(0,4);
  }
  function readableTime(time) {
    // time given as hh:mm:ss
    const parts = time.split(':');
    time = parts[0] + parts[1];
    let intTime = parseInt(time);
    let hr = Math.floor(time/100);
    let ampm = (hr >= 12 ? 'PM' : 'AM');
    if (hr == 0) hr = 12;
    else if (hr > 12) hr -= 12;
    
    return hr + ':' + time.slice(2,4) + ' ' + ampm;
  }
  function getTerm(date) {
    // date given as yyyymmdd
    let month = parseInt(date.slice(4,6));
    return (month < 5 ? 'w' : (month < 9 ? 's' : 'f')) + date.slice(2,4);
  }
  Date.prototype.yyyymmdd = function() {
    var mm = this.getMonth() + 1; // getMonth() is zero-based
    var dd = this.getDate();
    
    return [this.getFullYear(),
            (mm>9 ? '' : '0') + mm,
            (dd>9 ? '' : '0') + dd
            ].join('');
          };

mixin event(type, title, desc, date, begintime, endtime, loc)
  a.eventItemHoverBuffer(href='events/' + getTerm(date) + '#' + date)
    .eventItem(id=type)
      .info
        h2 #{title}
        p(style='font-size: 14pt;') #{desc}
      .dateBox
        p #{readableDate(date)}
          br
          | #{readableTime(begintime)}&ndash;#{readableTime(endtime)}
          br
          span(style='color: #ffffff; font-family: inherit;') #{loc}
body
  include ../template/header.pug
  .header
    .headerLogo
      img(src='/img/pmamco_simple_free_nobg.png', style='height: 15em; padding: 15px;')
      div
        h1(style='padding: 15px 15px 15px 15px; position: relative;')
          | The 
          strong {Pure Math,
          br
          strong Applied Math,
          br
          strong C&amp;O} 
          | Club
        .socials
          a(href='https://discord.gg/6m9Jw9UCVF', style='background-image: url(/img/discord.png);', target='_blank')
          a(href='https://instagram.com/uwpmclub', style='background-image: url(/img/instagram.png);', target='_blank')
          a(href='https://facebook.com/groups/uwpmc', style='background-image: url(/img/facebook.png);', target='_blank')
          a(href='https://youtube.com/user/pmamcoclub', style='background-image: url(/img/youtube.png);', target='_blank')
  .textArea
    h1(style='padding-top: 0.3em;') Events
    .eventContainer
      +event(posts[0].type, posts[0].title, posts[0].descr, posts[0].date.yyyymmdd(), posts[0].begin, posts[0].end, posts[0].loc)
      +event(posts[1].type, posts[1].title, posts[1].descr, posts[1].date.yyyymmdd(), posts[1].begin, posts[1].end, posts[1].loc)
      +event(posts[2].type, posts[2].title, posts[2].descr, posts[2].date.yyyymmdd(), posts[2].begin, posts[2].end, posts[2].loc)
    a.button#pastEvents(href='./events') Browse all events
  
  if potw
    .textArea
      h1 Problem of the Week
      //- N.B. Order has to be REVERSED here to make it wrap correctly
      .potwContainer
        a.potwItem(href='/potw#01')
          h1.number #1
          h3.date June 19, 2021
          h3.title DIY Collatz Conjecture
          h3.arrow >
        a.potwItem(href='/potw#02')
          h1.number #2
          h3.date June 19, 2021
          h3.title DIY Collatz Conjecture
          h3.arrow >
        a.potwItem(href='/potw#03')
          h1.number #3
          h3.date June 19, 2021
          h3.title DIY Collatz Conjecture
          h3.arrow >
        a.potwItem(href='/potw#04')
          h1.number #4
          h3.date June 19, 2021
          h3.title DIY Collatz Conjecture
          h3.arrow >
        a.potwItem(href='/potw#05')
          h1.number #5
          h3.date June 19, 2021
          h3.title DIY Collatz Conjecture
          h3.arrow >
      
  div(style='width: 100%; background-color: #e0e0e0;')
    .textArea(style='padding: 1em 0 1em 0;')
      div(style='width: 100%; display: flex; justify-content: start-flex; align-items: center; flex-wrap: nowrap;')
        div
          h1 Join our mailing list!
          p(style='font-family: "PT Serif";') Get notified about events and opportunities first :)
        a.button#subscribe(href='http://eepurl.com/hJPG7b', style='margin-left: 4em;', target='_blank') Subscribe
  include ../template/footer.pug
