- const term = "Fall 2022";
- const prevTerm = "s22";
- const nextTerm = "w23";

doctype html
include ../../template/head.pug
-
  function readableDate(date) {
    // date given as yyyymmdd
    let day = (date.charAt(6) == '0') ? date.charAt(7) : date.substr(6,2);
    let month = '';
    switch ('' + date.substr(4,2)) {
      case '01':
        month = 'January';
        break;
      case '02':
        month = 'February';
        break;
      case '03':
        month = 'March';
        break;
      case '04':
        month = 'April';
        break;
      case '05':
        month = 'May';
        break;
      case '06':
        month = 'June';
        break;
      case '07':
        month = 'July';
        break;
      case '08':
        month = 'August';
        break;
      case '09':
        month = 'September';
        break;
      case '10':
        month = 'October';
        break;
      case '11':
        month = 'November';
        break;
      case '12':
        month = 'December';
        break;
    }
    return month + ' ' + day + ', ' + date.substr(0,4);
  }
  function readableTime(time) {
    // time given as hhmm (24hr)
    let intTime = parseInt(time);
    let hr = Math.floor(time/100);
    let ampm = (hr >= 12 ? 'PM' : 'AM');
    if (hr == 0) hr = 12;
    else if (hr > 12) hr -= 12;
    
    return hr + ':' + time.substr(2,2) + ' ' + ampm;
  }
mixin event(type, title, desc, date, begintime, endtime, loc)
  .longEventContainer
    .longEventItem
      a.title(href='javascript:void(0)', id=date)
        h2 #{title}
        h3 #{readableDate(date)} @ #{readableTime(begintime)}&ndash;#{readableTime(endtime)} in #{loc}
        p #{desc}
      .description
        block
body
  script.
    function getAnchor() {
      var cururl = document.URL;
      var urlcomponents = cururl.split('#');
      return (urlcomponents.length > 1) ? urlcomponents[1] : null;
    }
    var prev = null;
    document.addEventListener( 'DOMContentLoaded', function () {
      var bruh = document.getElementsByClassName('description');
      var coll = document.getElementsByClassName('title');
      for (i = 0; i < bruh.length; ++i) {
        bruh[i].style.maxHeight = 0;
      }
      var i;
      for (i = 0; i < coll.length; ++i) {
        coll[i].addEventListener('click', function() {
          this.classList.toggle('active');
          var content = this.nextElementSibling;
          if (content.style.maxHeight && content.style.maxHeight != '0px') { // Hide it
            content.style.maxHeight = '0px';
            content.style.marginBottom = '0';
            prev = null;
          } else { // Show it
            content.style.maxHeight = content.scrollHeight + 'px';
            content.style.marginBottom = '0.5em';
            if (prev) {
              prev.classList.toggle('active');
              prev.nextElementSibling.style.maxHeight = '0px';
              prev.nextElementSibling.style.marginBottom = '0';
            }
            prev = this;
          }
        });
      }
      document.getElementById(getAnchor()).click();
    });
  script(src='https://polyfill.io/v3/polyfill.min.js?features=es6')
  script#MathJax-script(async, src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML')
  include ../../template/header.pug
  .header(style='filter: hue-rotate(320deg); background-position: bottom;')
    .textArea
      h1(style='margin: 0; padding: 0.8em 0 0.8em 0; font-size: 48pt;') Events
  .textArea(style='width: 50%;')
    .eventsTermsContainer
      a.eventsTerm(href='/events/'+prevTerm, title='Previous Term') Previous Term
      .eventsTerm(title=term) #{term}
      a.eventsTerm(href='/events/'+nextTerm, title='Next Term') Next Term
      a.eventsTerm#archive(href='/events/archive', title='Archive') Archive
    hr
    //EVENTGOESHERE
    +event("sasms", "Short Attention Span Math Seminars II", "Four students. Four talks. Thirty minutes per talk. You will learn.", "20220916", "1900", "2130", "MC 2065")
      h2 hello
      h3 this is a test
      p dklfjsljfslkfdk
      p sdjfsflk
  include ../../template/footer.pug
